<!-- Leads' Network : index.html -->
<!DOCTYPE html>
<html ng-app="myApp">
<head>
	
	<meta charset="utf-8">
	<title>Leads' Network!</title>
	
	<script src="static/js/jquery.js" ></script>
	<script src="static/js/jquery-ui-leads.js" ></script>
	<script src="static/lib/angular/angular.js"></script>
	<script src="static/lib/angular/angular-cookies.js"></script>
	<script src="static/lib/ui-bootstrap/ui-bootstrap-0.6.0.js"></script>
	<script src="static/lib/ui-bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
	<script src="static/js/app.js"></script>
	
	<link rel="stylesheet" type="text/css" href="static/css/toast.css">
<!--	<link rel="stylesheet" type="text/css" href="static/css/bootswatch.css">-->
	<link rel="stylesheet" type="text/css" href="static/css/jquery-ui-leads.css">
	<!-- twitter bootstrap -->
	<link rel="stylesheet" type="text/css" href="static/lib/bootstrap/dist/css/bootstrap.css" media="all">
	<!-- responsive -->
	<link rel="stylesheet" type="text/css" href="static/lib/ui-bootstrap/assets/bootstrap-responsive.css" media="all">
	<!-- buttons -->
	<link rel="stylesheet" type="text/css" href="static/css/style_bootstrap.css">
	<!-- icons -->
	<link rel="stylesheet" type="text/css" href="static/lib/font-awesome/css/font-awesome.css">
	<!-- main css -->
	<link rel="stylesheet" type="text/css" href="static/css/app.css">
</head>

<body>

	<div ng-controller="mainCtrl">

		<!-- JQuery Dialogs -->
		<div id="not_on_linkedin_with_cname" title="Not on LinkedIn!" class="ui-helper-hidden">
			<p><span class="icon-large icon-warning-sign" style="float: left; margin: 0 7px 50px 0;"></span>
			The person '{{fname}} {{lname}}' from '{{cname}}' is not on linkedin.
			</p>
		</div>

		<div id="not_on_linkedin_without_cname" title="Not on LinkedIn!" class="ui-helper-hidden">
			<p><span class="icon-large icon-warning-sign" style="float: left; margin: 0 7px 50px 0;"></span>
			The person '{{fname}} {{lname}}' is not on linkedin.
			</p>
		</div>

		<div id="at_least_one_lead" title="No lead selected!" class="ui-helper-hidden">
			<p><span class="icon-large icon-warning-sign" style="float: left; margin: 0 7px 50px 0;"></span>
			Please select at least one lead!
			</p>
		</div>

		<div id="http_error" title="Ooops!" class="ui-helper-hidden">
			<p><span class="icon-large icon-warning-sign" style="float: left; margin: 0 7px 50px 0;"></span>
			HTTP Error. Unable to connect to server.
			</p>
		</div>

		<!----------------------------------------------------------------->

		<div id="header_div" class="fow-fluid" ng-show="show_always">
			<button class="btn btn-custom-signin" style="background: transparent" ng-click="leadsDiv()" ng-show="is_logged_in">
				<i class="icon-large icon-group"></i></button>
			<span>Leads' Network</span>
			<span class="btn-group" ng-show="is_logged_in" style="float: right">
				<button type="button" class="btn btn-default dropdown-toggle btn-custom" data-toggle="dropdown" style="background: transparent">
					<span class="glyphicon glyphicon-user"></span>	{{ldap_name | uppercase}}	<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li style="cursor: pointer"><a ng-click="signOut()">Sign Out</a></li>
				</ul>
			</span>
			<br><br><br><br>
		</div>

		<div id="login_div" class="fow-fluid" ng-hide="is_logged_in">
			<form ng-submit="signIn()">
				<center>
					<img class="loginImage" src="static/img/login-icon.png"><br>
					Username <input type="text" name="username" ng-model="username" placeholder="LDAP Username" required><br>
					Password <input type="password" name="password" ng-model="password" placeholder="LDAP Password" required><br><br>
					<button class="btn btn-custom-signin"><i class="icon-large icon-linkedin"></i></button>
				</center>
			</form>
		</div>

		<div id="search_div" class="fow-fluid" ng-show="is_logged_in && show_search_form && !show_results && !show_leads">
			<form method='GET' ng-submit="theSearch()">
				First Name
				<input type="text" ng-model="fname" placeholder="First Name" required><br>
				Lase Name
				<input type="text" ng-model="lname" placeholder="Last Name" required><br>
				Company Name
				<input type="text" ng-model="cname" placeholder="Company Name"><br>
				
				{{fname | uppercase}} {{lname | uppercase}}<br>
				<button class="btn btn-custom"><span class="glyphicon glyphicon-search"></span>	Search</button>
			</form>
		</div>

		<div id="results_div" class="fow-fluid" ng-show="is_logged_in && !show_search_form && show_results && !show_leads">
			<div id="results_header">
				<button style="float:left" class="btn btn-custom" ng-click="searchAgain()"><span class="glyphicon glyphicon-search"></span>	Search again</button>
				Number of linkedin users with name {{fname | uppercase}} {{lname | uppercase}} : {{data.numResults}}
				<button style="float:right" class="btn btn-custom" ng-click="stopRequests()"><span class="glyphicon glyphicon-stop"></span>		Stop</button>
			</div>
			<br><br>
			<div id="results_table">
				<table class="table table-hover">
					<tr class="table_header">
						<td>Degree</td>
						<td>Connected Through</td>
						<td>Common Connections</td>
					</tr>
					<tr ng-class="connection.row_type" ng-repeat="connection in connections.first">
						<td ng-click="view_profile(connection)">{{connection.distance}}</td>
						<td ng-click="view_profile(connection)">{{connection.through}}</td>
						<td ng-click="view_connections(connection)">{{connection.relationToViewer.connections._total}}</td>
					</tr>
					<tr ng-class="connection.row_type" ng-repeat="connection in connections.second">
						<td ng-click="view_profile(connection)">{{connection.distance}}</td>
						<td ng-click="view_profile(connection)">{{connection.through}}</td>
						<td ng-click="view_connections(connection)">{{connection.relationToViewer.connections._total}}</td>
					</tr>
					<tr ng-class="connection.row_type" ng-repeat="connection in connections.third">
						<td ng-click="view_profile(connection)">{{connection.distance}}</td>
						<td ng-click="view_profile(connection)">{{connection.through}}</td>
						<td ng-click="view_connections(connection)">{{connection.relationToViewer.connections._total}}</td>
					</tr>
				</table>
			</div>
		</div>

		<div id="leads_div" class="fow-fluid" ng-show="is_logged_in && show_leads">
			<div id="leads_add_account_header">
				<button class="btn btn-custom" ng-click="addAccount()"><span class="icon-large icon-plus"></span>	Add Account</button>
			</div>
			<div id="leads_select_header">
				<button class="btn btn-mini" ng-click="selectAll()"><span class="icon-large icon-check"></span>	Select All</button>
				<span>Leads</span>
				<button class="btn btn-mini" ng-click="selectNone()"><span class="icon-large icon-check-empty"></span>	Select None</button>
			</div>
			<div id="leads_list">
				<ul class="unstyled">
					<li ng-repeat="lead in leads_list | orderBy:alphabetical">
						<input type="checkbox" ng-model="lead[2]">
						<!--<i class="icon-linkedin-sign"></i>-->    {{lead[1]}}</li>
				</ul>
			</div>
			<div id="leads_decide_footer">
				<button class="btn btn-custom" ng-click="selectBack()"><span class="icon-large icon-mail-reply"></span>	Back</button>
			</div>
		</div>

		<div id="footer_div" class="fow-fluid" ng-show="show_always">
			Copyright <span class="glyphicon glyphicon-copyright-mark"></span> 2013 Great Software Laboratory Pvt. Ltd. All Rights Reserved.
		</div>
	</div>	
	
<!------------------------------------------------------------------->

</body>

</html>
