
.container {
	background: #EEEEEE;
}

.span-grid {
	background: #DDDDDD;
}

.span-grid {
	background: #CCCCCC;
}

.one-of-three {
	background: #BBBBBB;
}

.two-of-three {
	background: #AAAAAA;
}

.footer {
	background: #999999;
}
