.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.unstyled {
	list-style: none;
}

.login_image {
	max-width: 100%
}

#header_div {
	background: #666666;
	height: auto;
	min-height: 60px;
	max-height: 60px;
}

#header_left {
	float: left;
	max-width: 30%;
}

#header_center {
	max-width: 30%;
}

#header_right {
	float: right;
	max-width: 30%;
}


#login_div {
	max-width: 30%;
}

#main_div {
	min-height: 500px;
}

#search_div {
	max-width: 30%;
}

#results_div {
	max-width: 95%;
}

#leads_div {

}

#leads_list {
	max-width: 60%;
	text-align: left;
	margin: auto;
}
