/* for large devices (laptops and desktops)*/
@media (min-width: 720px) {
    html
    {
		background: url('/static/img/dark_net.jpg') repeat center center fixed;
		-webkit-background-size: 500px 500px;
		-moz-background-size: 500px 500px;
		-o-background-size: 500px 500px;
		background-size: 500px 500px;  
    }

	body
	{

		background: transparent;
		color: white;
		text-rendering: optimizelegibility;

		font-family: jura-bold, sans-serif;
		font-family: sansation, sans-serif;
		font-size: 15px;
		
		/* Font Smoothing*/
		-webkit-font-smoothing: antialiased;		/* chrome */
		font-smooth: always;						/* firefox */
		text-shadow: 0.5px 0.5px 0.5px rgba(127, 127, 127, 0.5);
	}
	
	#results_header {

	  background: url('/static/img/dark_net.jpg') repeat center center fixed; 
		-webkit-background-size: 500px 500px;
		-moz-background-size: 500px 500px;
		-o-background-size: 500px 500px;
		background-size: 500px 500px;  


		min-height: 200px;
		margin-left: 2.5%;
		max-width: 95%;
		top: 55px;
	}
	
	#results_table {
		color: white;
	}
		
	tbody tr:hover {
		background-color: #BBBBBB;
		background:rgba(255,255,255,0.3);
	}
	
	thead tr:first-child:hover {
		cursor: default;
		background-color: transparent;
	}	
	
	.profile_pic {
		width: 60px;
		height: 60px;
	}

	#leads_list {
		max-width: 60%;
		text-align: left;
		margin: auto;
	}
	
		#login_div {
		max-width: 50%;
	}

	.input-ldap {
		width: 60%;
	}
	
	.button-login {
		
	}

	.button-text-login {
		display: none;
	}
	
	#search_div {
		max-width: 50%;
	}

	.button-search {
		 width: 50%;
	}

	.button-leads {
		
	}
	
	.button-logo-leads {
	
	}
	
	.button-text-leads {
		display: none;
	}

	
}

