/* for large devices (laptops and desktops)*/
@media (min-width: 720px) {
    html
    {
/*
		background: url('/static/img/linkedin_background.png') repeat center center fixed;

		-webkit-background-size: 500px 500px;
		-moz-background-size: 500px 500px;
		-o-background-size: 500px 500px;
		background-size: 500px 500px;  
*/		
		background-color: #f1f1f1;
		background-color: #f9f9f9;
     }
     
	body
	{
		/*background-image:url('/static/img/linkedin_background.png');
		background-color: #f1f1f1;
		background-position: fixed;
		background-size: 100px, 100px;
		*/
		background: transparent;
		color: black;
		text-rendering: optimizelegibility;

		font-family: jura-bold, sans-serif;
		font-family: sansation, sans-serif;
		font-family: proxima, sans-serif;
		font-size: 15px;
		
		/* Font Smoothing*/
		-webkit-font-smoothing: antialiased;		/* chrome */
		font-smooth: always;						/* firefox */
		text-shadow: 0.5px 0.5px 0.5px rgba(127, 127, 127, 0.5);
	}

	#main_div {
		/*margin-top: 10%;
		margin-bottom: 7%;*/
	}

	.username-password {
		margin-top: 5%;
	}

	#results_header {
		color: black;
		
		background-color: #f1f1f1;
		background-color: #f9f9f9;

		/*margin-left: 1%;*/
		max-width: 100%;
		top: 55px;
	}


	#results_table {
		color: black;
		margin-top: 3%;
		margin-top: 300px;
	}
	
	tbody tr:hover {
		background-color: #e1e1e1;
		color: black;
		/*background:rgba(127,127,127,0.3);*/
	}
	
	thead tr:first-child:hover {
		cursor: default;
		/*background-color: transparent;*/
	}
		
	.profile_pic {
		width: 60px;
		height: 60px;
	}

	#leads_list {
		max-width: 60%;
		text-align: left;
		margin: auto;
	}
	
	#login_div {
		max-width: 50%;
		margin-top: 90px;
	}

	.input-ldap {
		width: 60%;
	}
	
	.button-login {
		
	}

	.button-text-login {
		display: none;
	}
	
	#search_div {
		max-width: 50%;
		margin-top: 150px;
	}

	.button-search {
		 width: 50%;
	}

	.button-leads {
		
	}
	
	.button-logo-leads {
	
	}
	
	.button-text-leads {
		display: none;
	}

	.responsive-button {
		width: 50%;
	}

	.responsive-button-half {
		width: 24%;
	}		

	#leads_div {
		max-width: 95%;
		margin-bottom: 5%;
		margin-top: 90px;
		margin-bottom: 100px;
	}


	/**********************************************************************/
	/* "Back To Top" css*/

	.back-to-top {
		position: fixed;
		bottom: 4em;
		right: 0px;
		text-decoration: none;
		color: #000000;
		background-color: rgba(235, 235, 235, 0.80);
		font-size: 12px;
		padding: 1em;
		display: none;
	}

	.back-to-top:hover {    
		background-color: rgba(135, 135, 135, 0.50);
	}
}
